

.incrementar-button {
    background-color: #007BFF;
    color: #fff;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .incrementar-button:hover {
    background-color: #0056b3;
  }
  
  .decrementar-button {
    background-color: #FF6C6C;
    color: #fff;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .decrementar-button:hover {
    background-color: #d64040;
  }
  